<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
                                 http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
             version="2.1">

    <persistence-unit name="PostgresPU" transaction-type="RESOURCE_LOCAL">
        
        <!-- Provider do JPA (Hibernate) -->
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

        <!-- Entidades do projeto -->
        <class>br.edu.utfpr.model.Trabalhador</class>
        <class>br.edu.utfpr.model.Canteiro</class>
        <class>br.edu.utfpr.model.Projeto</class>
        <class>br.edu.utfpr.model.AvaliacaoCondicoes</class>
        <class>br.edu.utfpr.model.Alerta</class>
        <class>br.edu.utfpr.model.EPI</class>
        <class>br.edu.utfpr.model.Feedback</class>
        <class>br.edu.utfpr.model.HistoricoAlocacao</class>
        <class>br.edu.utfpr.model.MetricaProdutividade</class>
        <class>br.edu.utfpr.model.ODS</class>
        <class>br.edu.utfpr.model.OcorrenciaSeguranca</class>
        <class>br.edu.utfpr.model.Qualificacao</class>
        <class>br.edu.utfpr.model.RegistroEmissao</class>
        <class>br.edu.utfpr.model.RegistroJornada</class>
        <class>br.edu.utfpr.model.RegistroMaterial</class>
        <class>br.edu.utfpr.model.RegistroProdutividade</class>
        <class>br.edu.utfpr.model.RegistroRecurso</class>
        <class>br.edu.utfpr.model.RegistroResiduo</class>
        <class>br.edu.utfpr.model.RegistroSaude</class>
        <class>br.edu.utfpr.model.Relatorio</class>

        <properties>
            <!-- Configurações do banco de dados PostgreSQL -->
            <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
            <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/trabalho_decente"/>
            <property name="javax.persistence.jdbc.user" value="postgres"/>
            <property name="javax.persistence.jdbc.password" value="sua_senha_aqui"/>

            <!-- Configurações do Hibernate -->
            <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>
            
            <!-- 
                hbm2ddl.auto: 
                - create: Apaga e recria as tabelas a cada execução
                - update: Atualiza o schema sem apagar dados
                - validate: Apenas valida o schema
                - none: Não faz nada
            -->
            <property name="hibernate.hbm2ddl.auto" value="update"/>
            
            <!-- Exibe SQL no console -->
            <property name="hibernate.show_sql" value="true"/>
            
            <!-- Formata SQL no console -->
            <property name="hibernate.format_sql" value="true"/>
            
            <!-- Usa comentários SQL -->
            <property name="hibernate.use_sql_comments" value="true"/>
            
            <!-- Encoding UTF-8 -->
            <property name="hibernate.connection.characterEncoding" value="UTF-8"/>
            <property name="hibernate.connection.useUnicode" value="true"/>
        </properties>

    </persistence-unit>

</persistence>

